.sns {
  margin-top: 17vh;

  .snses {
    display: flex;
    justify-content: center;
    align-items: center;

    .sns_box {
      width: 13vw;
      text-align: center;
      background-color: rgba(243, 249, 243, 0.8);
      border-radius: 16px;
      margin: 3.5vw;
      margin-top: 0px;



      .twitter {
        text-align: center;

        h3 {
          font-size: 1vw;
          margin-top: 3vh;
        }

        img {
          height: 7vw;
          margin-top: 3vh;

        }

        h4 {
          text-align: left;
          width: 10vw;
          margin: auto;
          margin-top: 3vh;
          font-size: 0.7vw;
          margin-bottom: 5vh;
          line-height: 1.2vw;
        }
      }
    }
  }
}