footer {
  background-color: #fff;
  margin-top: 30vh;
  text-align: center;
  margin-left: 7vw;
  margin-right: 7vw;
  border-radius: 16px;
  background-color: rgba(243, 249, 243, 0.8);


  .footer_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;

    .footer_left {
      margin-right: 20vw;
      padding: 2vw;
      display: flex;

      .footer_link_box_1 {
        text-align: left;

        .footer_link {
          font-size: 0.9vw;
          position: relative;
          text-decoration: none;
          display: block;
          margin-top: 3vh;
        }
      }
    }

    .footer_pamphlet {
      text-align: left;
      margin-left: 2vw;

      .footer_link {
        font-size: 0.9vw;
        position: relative;
        text-decoration: none;
        display: block;
        margin-top: 3vh;
      }
    }
  }

  .footer_right {
    color: #fff;
    text-align: center;

    img {
      width: 14vw;
    }

    p {
      color: #000;
      font-size: 0.9vw;
      margin-top: 1vh;
    }
  }
}