body {
  width: 100vw;
  font-family: source-han-sans-japanese,
    sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;

  /* Firefox 対応 */
  &::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }

  scroll-behavior: smooth;

  .top {
    .hero {
      background-image: url("public/images/back3.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 75vh;
      background-attachment: fixed;
      z-index: 100;
      padding-top: 20vh;

      h1 {
        font-size: 3.5vw;
        margin-left: 23vw;
        font-family: source-han-sans-japanese,
          sans-serif;
        font-weight: 700;
      }

      h2 {
        margin-left: 23.5vw;
        margin-top: 4vh;
        color: #676767;
        font-size: 0.8vw;
        line-height: 0.3vw;
        margin-bottom:2vh;
      }
      .all{
        width: 100vw;
        margin-bottom: 7vw;
        display: flex;
          justify-content: center;
          align-items: start;
          text-align: center;
          flex-wrap: wrap;
 
        .texts_1 {
          background-color: rgba(243, 249, 243, 0.8);
          padding: 2vw;
          padding-left: 1vw;
          border-radius: 16px;
          width: 37vw;
          text-align: right;
          height: calc(75vh - 300px);
          margin: 2vw;

          margin-top: 4vh;
          margin-bottom: 4vh;
          
          h1 {
            font-size: 1.6vw;
            text-align: left;
            margin-bottom: 1vh;
            font-family: source-han-sans-japanese,
              sans-serif;
            font-weight: 700;
            font-style: normal;
          margin-left: 0px;
          


            span {
              color: #ed7a9b;
            }

            .small {
              color: #000;
              font-size: 1.1vw;
            }

            img {
              height: 3.3vw;
              margin-left: 1vw;
            }
          }

          .text_img{
            display: flex;
          justify-content: center;
          align-items: start;
          text-align: center;
          margin-bottom: 2vh;

            h2 {
              text-align: left;
              font-size: 1vw;
              line-height: 2.2vw;
              color: #000;
              padding:0px;
              padding-left: 1vw;
              padding-top: 0.5vw;
              padding-bottom: 0.5vw;
              border-left: #0b2062 solid 0.4vw;
            width: 21vw;
            margin-left: 1vw;
            margin-right: 2vw;
            }
            img{
              width: 7vw;
              margin-top: 5vh;
              margin-left: 1vw;
              margin-right: 3vw;
            }
          }

          a {
            font-size: 0.8vw;
            transition: 0.3s;
            bottom: 0px;

            &:hover {
              color: #666;
            }
          }
        }
        .english{
          .text_img{
            margin: 0px;
            h2{
              font-size: 0.8vw;
              line-height: 1.3vw;
            }
          }
        }
        .english2{
          .text_img{
            margin: 0px;
            h2{
              font-size: 0.8vw;
              line-height: 1.5vw;
            }
          }
        }
      }
    }


  }
}