body {
  width: 100vw;
  font-family: source-han-sans-japanese,
    sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;

  /* Firefox 対応 */
  &::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }

  scroll-behavior: smooth;

  .top {
    .hero {
      background-image: url("/public/images/back3.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 75vh;
      background-attachment: fixed;
      z-index: 100;
      padding-top: 20vh;

      h1 {
        font-size: 3.5vw;
        margin-left: 23vw;
        font-family: source-han-sans-japanese,
          sans-serif;
        font-weight: 700;
      }

      h2 {
        margin-left: 23.5vw;
        margin-top: 4vh;
        color: #676767;
        font-size: 0.8vw;
        line-height: 0.3vw;
        margin-bottom: 2vh;
      }

      .all {
        width: 100vw;
        margin-bottom: 7vw;
        margin-top: 8vh;

        .texts_1 {
          background-color: rgba(243, 249, 243, 0.8);
          padding: 2vw;
          padding-left: 1vw;
          border-radius: 16px;
          width: 77vw;
          text-align: right;
          min-height: calc(35vh);
          margin-top: 4vh;
          margin-bottom: 4vh;
          margin-left: auto;
          margin-right: auto;

          h1 {
            font-size: 1.6vw;
            text-align: left;
            margin-bottom: 1vh;
            font-family: source-han-sans-japanese,
              sans-serif;
            font-weight: 700;
            font-style: normal;
            margin-left: 0px;
            display: flex;
            justify-content: start;
            align-items: center;



            span {
              color: #ed7a9b;
              margin-top: 1vh;

            }

            .small {
              color: #000;
              font-size: 1.1vw;
            }

            img {
              width: 8vh;
              margin-left: 1vw;
            }
          }

          
          a {
            font-size: 0.8vw;
            transition: 0.3s;
            bottom: 0px;

            &:hover {
              color: #666;
            }
          }
        }
      }
    }


  }
}